#imgUploadDropbox:before{
	display: block;
	content:'';
	height:4px;
	width:100%;
	background:url('../img/blue_line.jpg');
	position: absolute;
	top:0;
	left:0;
	box-shadow:0 2px 2px rgba(0,0,0,0.4);
}

#imgUploadDropbox{
	background-color:#777777;
	border-radius:3px;
	position: relative;
	overflow: hidden;
	box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}

#imgUploadDropbox .message{
	font-size: 18px;
    text-align: center;
    padding-top:10px;
    display: block;
}

#imgUploadDropbox .message i{
	color:#ccc;
	font-size:20px;
}

#imgUploadDropbox:before{
	border-radius:3px 3px 0 0;
}


/*-------------------------
	Image Previews
--------------------------*/

#imgUploadDropbox .preview{
	width:100%;
	height: 100%;
	float:left;
	position: relative;
	text-align: center;
	margin: auto;
}

#imgUploadDropbox .preview img{
	max-width: 100%;
	max-height:100%;
	border:3px solid #fff;
	display: block;
	box-shadow:0 0 2px #000;
}

#imgUploadDropbox .imageHolder{
	display: inline-block;
	position:relative;
}

#imgUploadDropbox .preview.done .uploaded{
	display: block;
}

/*-------------------------
	Progress Bars
--------------------------*/

#imgUploadDropbox .progressHolder{
	position: absolute;
	background-color:#252f38;
	height:12px;
	width:100%;
	left:0;
	bottom: 0;
	
	box-shadow:0 0 2px #000;
}

#imgUploadDropbox .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#imgUploadDropbox .preview.done .progress{
	width:100% !important;
}