/* Reset body padding and margins */
body { margin:0; padding:0; }

/* Make Header Sticky */
header #header_container { line-height:60px; margin:0 auto; width:940px; text-align:center; }
header { background:#eee; border:1px solid #666; height:60px; left:0; position:fixed; width:100%; top:0; z-index: 2; }

.right{ float:right; }
.left{ float:left; }

/* CSS for the content of page. I am giving top and bottom padding of 80px to make sure the header and footer do not overlap the content.*/
#container { margin:0 auto; overflow:auto; padding:80px 0;}
#content { }

/* Make Footer Sticky */
footer #footer_container { line-height:60px; margin:0 auto; width:940px; text-align:center; }
footer { background:#eee; border:1px solid #666; bottom:0; height:60px; left:0; position:fixed; width:100%; z-index: 2;}

.error { color: #ff0000; }
.errorblock { color: #000; background-color: #ffEEEE; border: 3px solid #ff0000; padding: 8px; margin: 16px; }

.comicButton {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 600;
    font-size: 2em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: auto;
	width: 230px;
	text-align: center;
    border: none;
	outline: none;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.comicButtonMedium {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 200;
    font-size: 1.7em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: auto;
	width: 130px;
	text-align: center;
	border: none;
	outline: none;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.comicButton:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
    border: none;
	outline: none;
}

.comicButtonMedium:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
    border: none;
	outline: none;
}

.contentBox {
	margin: 0 auto 20px;
	width:100%;
	height: auto;
	display: block;
}
#console {
    border: 1px solid #CCCCCC;
    border-right-color: #999999;
    border-bottom-color: #999999;
    height: 300px;
    overflow-y: scroll;
    padding: 5px;
}

#console p {
    padding: 0;
    margin: 0;
}

.inputText {
	width: 100px;
	height: 100px;
	background-color: #AAA;
}

.subtitlesClass {
	display: none;
}

.thumbsContainer {
    border: 1px dashed #ccc;
    position: relative;
}

.thumbsContainer > div {
    position: absolute;
    height: 135px;
}

.thumbsContainer .ss-placeholder-child {
    background: transparent;
    border: 1px dashed red;
}